<%= form_with(model: multiplication) do |form| %>
  <% if multiplication.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(multiplication.errors.count, "error") %> prohibited this multiplication from being saved:</h2>

      <ul>
        <% multiplication.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
