<table class="matrix">
    <% matrix.row_vectors.each do |rows| %>
        <tr>
            <% rows.each do |elt| %>
                <td><%= elt %></td>
            <% end %>
        </tr>
    <% end %>
</table>