<h1>Editing multiplication</h1>

<%= render "form", multiplication: @multiplication %>

<br>

<div>
  <%= link_to "Show this multiplication", @multiplication %> |
  <%= link_to "Back to multiplications", multiplications_path %>
</div>
