<div align=center>
	<%= render partial: "matrix", locals: {matrix: @matrix_a} %>
	<%= render partial: "matrix", locals: {matrix: @matrix_b} %>
	<%= render partial: "matrix", locals: {matrix: @matrix_c} %>
</div>
