<div align=center>
	<%= render partial: "show", locals: {matrix: @matrix_a} %>
	<%= render partial: "show", locals: {matrix: @matrix_b} %>
	<%= render partial: "show", locals: {matrix: @matrix_c} %>
</div>
